<!DOCTYPE html>
<html>
<head>
    <title>Insertar Cliente</title>
</head>
<body>
    <h1>Insertar Cliente</h1>
    <form method="POST">
        Nombre: <input type="text" name="name" required><br>
        Edad: <input type="number" name="age" required><br>
        Sexo: <input type="text" name="gender" required><br>
        Contraseña: <input type="password" name="password" required><br>
        Correo: <input type="email" name="email" required><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
